<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cálculo Numérico</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row">
          <h1 class="display-4">Gauss</h1>
        </div>
        <br />

        <div class="card" style="padding: 15px">
          <div class="row">
            <div class="col-md-2">
              <h4>Ordem do sistema</h4>
            </div>
            <div class="col-md-3">
              <input
                v-model="valor"
                style="width: 60px"
                type="number"
                max="10"
                min="3"
              />
            </div>
            <div class="col-md-3">
              <button
                @click="matriz = buildMatriz(valor)"
                class="btn btn-primary"
              >
                Calcular
              </button>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-md-6">
              <h3>Matriz</h3>

              <table style="width: 50%; margin: 0%">
                <tr v-for="linha in matriz">
                  <td v-for="coluna in linha.items">
                    <input v-model="coluna.value" style="width: 60px" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: end">
                <button @click="calcular" class="btn btn-primary">
                  Calcular
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="main.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          matriz: [],
          valor: ''
        },
        created() {
          this.matriz = this.buildMatriz(5);
        },
        methods: {
          buildMatriz(n) {
            n = Number(n);

            if (n > 10 || n < 2) {
              return [];
            }

            return new Array(n).fill(0).map(() => {
              const items = new Array(n).fill(0).map(() => {
                return { value: '' };
              });
              return { items };
            });
          },

          calcular() {
            for (let i = 0; i < this.matriz.length; i++) {
              for (let j = 0; j < this.matriz.length; j++) {
                if (i == j) {
                  let pivo = this.matriz[i].items[j];

                  console.log(JSON.stringify(pivo));
                  console.log(
                    JSON.stringify(
                      this.matriz[i + 1] && this.matriz[i + 1].items
                    )
                  );
                }
              }
            }
          }
        }
      });
    </script>
  </body>
</html>
